*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #010d26;
}

#navbar{
    display: flex;
    width: 95%;
    margin: 0% auto;
}

#navbar ul {
 display: none;
}

#banner img{
    width: 100%;
    border-top: 5px solid #f56a6a;
}


#midsection{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    text-align: center;
    width: 80%;
    margin:40px auto 120px;
}

#midsection .item{
    width: 90%;
}

#midsection h3{
    font-size: 1.2rem;
    color: #f56a6a;
    margin: 10px 0 20px;
}

#midsection p{
    color: white;
}

.separater{
    border-top: 1px solid white;
    width: 50%;
    margin: 3% auto;
}

#objective h3{
    color: #f56a6a;
    font-size: 2em;
    text-align: center;
    margin: 30px 0;
}

#objective p{
    width: 70%;
    margin: auto;
    text-align: center;
    color: white;
}

.obj-content{
    display: flex;
    margin: 30px auto;
    width: 80%;
    justify-content:space-around ;
}

.obj-text{
 color:#f56a6a;
 font-size: 1.5em;
line-height: 1.5em;
margin-top: 50px;
}

.obj-img img{
    height: 80%;
    width: 80%;
    border-radius: 20px;
}

#process h2{
    font-size: 2.5em;
    color: #f56a6a;
    text-align: center;
    margin-bottom: 50px;
}

#process h3{
    color: white;
    font-size: 1em;
}

#process .row-1{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    margin:auto;
    text-align: center;
}

#process .row-2{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    margin: 30px auto;
    text-align: center;
}


/* responsive */

@media (max-width: 930px){
    #midsection{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 75%;
        margin:5% auto;
    }

    #midsection .item{
        width: 100%;
        margin-bottom: 20px;
    }

    #objective p{
        width: 75%;
    }

    .obj-content{
        display: flex;
        margin: 30px auto;
        width: 80%;
        flex-direction: column-reverse;
    }

    .obj-img{
        width: 90%;
        margin: 10px auto 5px;
        text-align: center;
    }

    .obj-text ul{
        font-size: 0.8em;
        width: 80%;
        margin: 5px auto 10px;
    }


    #process h2{
        font-size: 2em;
    }
    #process .row-1{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        text-align: center;
        text-indent: 3px;
    }
    #process .row-2{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        margin-bottom: 50px;
        text-align: center;
        text-indent: 3px;
    }
    
    .process-tag .element-1,.element-2{
        margin: 20px auto;
    }
}